<main class="wrapper">
  <section class="hero">
    <div class="hero-text">
      <h2>Our Branches</h2>
    </div>
  </section>
</main>

<div class="container" data-aos="fade-up">
  <div class="section-title py-5">
    <h2>Where are you thinking of studying?
      <hr class="our-client">
    </h2>
    <p>
      Start your Overseas Education Journey with the best Education Consultant in Nepal
    </p>
  </div>

  <div class="row py-5">
    <div class="col-md-3 col-sm-6">
      <div class="card">
        <h4 class="card-title">Australia</h4>
        <img class="card-img-top" src="../../../../assets/img/branches/australia-branch.jpg" alt="Card image cap">

        <div class="card-body">
          <a class="btn btn-primary">Study in Australia</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="card">
        <h4 class="card-title">UK</h4>
        <img class="card-img-top" src="../../../../assets/img/branches/uk-branch.jpg" alt="Card image cap">

        <div class="card-body">
          <a class="btn btn-primary">Study in UK</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="card">
        <h4 class="card-title">Canada</h4>
        <img class="card-img-top" src="../../../../assets/img/branches/canada-branch.jpg" alt="Card image cap">

        <div class="card-body">
          <a class="btn btn-primary">Study in Canada</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="card">
        <h4 class="card-title">USA</h4>
        <img class="card-img-top" src="../../../../assets/img/branches/usa-branch.jpg" alt="Card image cap">

        <div class="card-body">
          <a class="btn btn-primary">Study in USA</a>
        </div>
      </div>
    </div>
  </div>
</div>