<main class="wrapper">
  <section class="hero">
    <h1>Study Ielts?</h1>
    <article>
      <p>
        KTM Consulting Group is a leading institute for IELTS training courses
        in Nepal. Our aim is to prepare students with essential skills and
        knowledge to undertake the IELTS test. The syllabus of our IELTS course
        in Nepal is a blend of skills development, strategies, and techniques
        that help you enhance your test-taking ability and succeed in the IELTS
        examination.
      </p>
      <a href="#">Enroll Now</a>
    </article>
  </section>
</main>

<div class="container">
  <div class="row">
    <h1 class="text-center mt-4 mb-2">About IELTS</h1>
    <div class="about-ielts-text col-md-6">
      <p>
        Established in 1989, IELTS (International English Language Testing
        System) is the most popular English-language assessment test for higher
        education and global migration. It is a standardised English language
        proficiency test designed for non-native speakers who wish to study,
        work or migrate to an English-speaking country.
      </p>
      <p>
        IELTS is designed to evaluate one’s English skills in reading, writing,
        listening, and speaking and the effectiveness of using the language in
        an English-speaking environment. An IELTS language certificate opens
        doors to international academic and work opportunities in
        English-speaking countries including Australia, the United States, the
        United Kingdom and Canada.
      </p>
      <p>
        The IELTS course aims to equip students with the knowledge and
        techniques necessary to successfully complete the IELTS test and take
        the test with confidence. Each module of the course will provide
        students with extensive practice, ensuring that they fully understand
        how to utilize their time effectively. Additionally, under exam
        settings, students will take practice exams in each skill, and
        instructors will provide comments on their performance to assist them to
        get better.
      </p>
    </div>
    <div class="about-ielts-img col-md-6">
      <img
        src="../../../../assets/img/portfolio/portfolio-1.jpg"
        alt="ielts image"
      />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="ielts-pte-discount-img col-md-4">
      <img src="../../../../assets/img/ktmDiscountCard.jpg" alt="ielts image" />
    </div>
    <div class="col-md-8">
      <div class="row">
        <h2 class="text-center mb-2">Types of IELTS Tests</h2>
        <p class="text-center">
          There are two types of IELTS: Academic Test and General Test. Both of
          these tests differ from one another, depending on the context of the
          aim of taking the IELTS test in Nepal. These tests focus on different
          aspects – listening and speaking tests are same for the both but the
          reading and writing tests are different.
        </p>
        <div id="stepper1" class="bs-stepper">
          <div class="bs-stepper-header">
            <div class="step" data-target="#test-l-1">
              <button class="step-trigger">
                <span class="bs-stepper-circle">1</span>
                <span class="bs-stepper-label">IELTS Academic Test</span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-2">
              <button class="step-trigger">
                <span class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">IELTS General Test</span>
              </button>
            </div>
          </div>
          <div class="bs-stepper-content">
            <div id="test-l-1" class="content text-center">
              <div class="form-group">
                <p>
                  The IELTS Academic test is specially designed for
                  international students who want to apply for higher education
                  or professional registration in an English-speaking country.
                  This test emphasizes academic language and aims to prepare
                  students to begin their studies abroad. The IELTS Academic
                  Test is widely supported by institutions that recognise IELTS.
                </p>
              </div>
            </div>
            <div id="test-l-2" class="content text-center">
              <div class="form-group">
                <p>
                  The IELTS General Test is an assessment test specially
                  designed to determine that you have adequate language skills
                  to work in an English-speaking system. People participate in
                  this test either for migration or for work purposes.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h2 class="text-center mb-2">Formats of IELTS Tests</h2>
        <p>
          One can take IELTS Test on paper or on a computer. Both of the exam
          formats are the same. The listening and speaking test are the same for
          both IELTS Academic and IELTS General Tests but the writing and
          reading tests differ slightly.
        </p>
        <div id="stepper2" class="bs-stepper">
          <div class="bs-stepper-header">
            <div class="step" data-target="#test-2-1">
              <button class="step-trigger">
                <span class="bs-stepper-circle">1</span>
                <span class="bs-stepper-label">Paper-based IELTS</span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-2-2">
              <button class="step-trigger">
                <span class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">Computer-delivered IELTS</span>
              </button>
            </div>
          </div>
          <div class="bs-stepper-content">
            <div id="test-2-1" class="content text-center">
              <div class="form-group">
                <p>
                  Paper-based IELTS test requires you to sit at a desk in an
                  official IELTS test centre. Participants are provided with the
                  question papers and answer sheets for the Reading, Writing and
                  Listening tests while the Speaking test is carried out with an
                  IELTS examiner.
                </p>
              </div>
            </div>
            <div id="test-2-2" class="content text-center">
              <div class="form-group">
                <p>
                  Computer-delivered IELTS test requires you to sit in front of
                  a computer in an official IELTS test centre. Questions for the
                  Reading, Listening and Writing tests are presented on the
                  screen while the Speaking test is carried out face-to-face
                  with an IELTS examiner.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h2 class="text-center">Four Parts of IELTS Tests</h2>
        <div id="stepper3" class="bs-stepper">
          <div class="bs-stepper-header">
            <div class="step" data-target="#test-3-1">
              <button class="step-trigger">
                <span class="bs-stepper-circle">1</span>
                <span class="bs-stepper-label">Listening Test</span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-3-2">
              <button class="step-trigger">
                <span class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">Reading Test</span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-3-3">
              <button class="step-trigger">
                <span class="bs-stepper-circle">3</span>
                <span class="bs-stepper-label">Writing Test</span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-3-4">
              <button class="step-trigger">
                <span class="bs-stepper-circle">4</span>
                <span class="bs-stepper-label">Speaking Test</span>
              </button>
            </div>
          </div>
          <div class="bs-stepper-content">
            <div id="test-3-1" class="content text-center">
              <div class="form-group">
                <p>
                  Listening test is the first part of the IELTS exam and it
                  consists of four sections, each section having 10 questions.
                  In the IELTS Listening test, the test-takers have to listen to
                  an audio recording and answer them accordingly. It’s a
                  30-minute IELTS sub-test and questions in this section comes
                  in the form of short answer question, summary, multiple
                  choice, etc.
                </p>
              </div>
            </div>
            <div id="test-3-2" class="content text-center">
              <div class="form-group">
                <p>
                  Reading test is the second part IELTS test which lasts for 60
                  minutes. In this sub-test, examinees are given about 3 texts
                  which have around 2,000-2,500 words and based on the text
                  students have to answer the questions. There are a total of 40
                  questions including summary, short answer questions, sentence
                  completion, multiple choice, and true or false. The texts are
                  different for IELTS Academic Test and IELTS General Test.
                </p>
              </div>
            </div>
            <div id="test-3-3" class="content text-center">
              <div class="form-group">
                <p>
                  Writing test is the third part of the IELTS exam. In this
                  sub-test, exam-takers have to complete 2 tasks within the
                  given time of 60 minutes. They are asked to describe a chart/
                  bar diagram, write an essay or a letter and more. The tasks
                  differ for the Academic IELTS test and General IELTS test. The
                  first task consists of 150 words minimum and the second task
                  consists of 250 words minimum.
                </p>
              </div>
            </div>
            <div id="test-3-4" class="content text-center">
              <div class="form-group">
                <p>
                  Speaking test is the last part of the IELTS test in which
                  examinees will have a three-part oral interview. In the first
                  part, an IELTS examiner asks you to give an introduction about
                  yourself. In the second task, you are given a topic and a
                  one-minute preparation time and then have to deliver a talk
                  about the topic for 1-2 minutes. Finally, in the last part,
                  you have a two-way discussion with the interviewer about the
                  issues related to a topic.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="other-classes-button">
    <a href="#" class="pte-class">Enroll PTE</a><br />
    <a href="#" class="toefl-class">Enroll TOEFL</a>
  </div>
</section> -->

<!-- <section class="other-classes-button"> -->
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2 class="text-center">Four Parts of IELTS Tests</h2>
      <div id="stepper3" class="bs-stepper">
        <div class="bs-stepper-header">
          <div class="step" data-target="#test-3-1">
            <button class="step-trigger">
              <span class="bs-stepper-circle">1</span>
              <span class="bs-stepper-label">Listening Test</span>
            </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-3-2">
            <button class="step-trigger">
              <span class="bs-stepper-circle">2</span>
              <span class="bs-stepper-label">Reading Test</span>
            </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-3-3">
            <button class="step-trigger">
              <span class="bs-stepper-circle">3</span>
              <span class="bs-stepper-label">Writing Test</span>
            </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-3-4">
            <button class="step-trigger">
              <span class="bs-stepper-circle">4</span>
              <span class="bs-stepper-label">Speaking Test</span>
            </button>
          </div>
        </div>
        <div class="bs-stepper-content">
          <div id="test-3-1" class="content text-center">
            <div class="form-group">
              <p>
                Listening test is the first part of the IELTS exam and it
                consists of four sections, each section having 10 questions. In
                the IELTS Listening test, the test-takers have to listen to an
                audio recording and answer them accordingly. It’s a 30-minute
                IELTS sub-test and questions in this section comes in the form
                of short answer question, summary, multiple choice, etc.
              </p>
            </div>
          </div>
          <div id="test-3-2" class="content text-center">
            <div class="form-group">
              <p>
                Reading test is the second part IELTS test which lasts for 60
                minutes. In this sub-test, examinees are given about 3 texts
                which have around 2,000-2,500 words and based on the text
                students have to answer the questions. There are a total of 40
                questions including summary, short answer questions, sentence
                completion, multiple choice, and true or false. The texts are
                different for IELTS Academic Test and IELTS General Test.
              </p>
            </div>
          </div>
          <div id="test-3-3" class="content text-center">
            <div class="form-group">
              <p>
                Writing test is the third part of the IELTS exam. In this
                sub-test, exam-takers have to complete 2 tasks within the given
                time of 60 minutes. They are asked to describe a chart/ bar
                diagram, write an essay or a letter and more. The tasks differ
                for the Academic IELTS test and General IELTS test. The first
                task consists of 150 words minimum and the second task consists
                of 250 words minimum.
              </p>
            </div>
          </div>
          <div id="test-3-4" class="content text-center">
            <div class="form-group">
              <p>
                Speaking test is the last part of the IELTS test in which
                examinees will have a three-part oral interview. In the first
                part, an IELTS examiner asks you to give an introduction about
                yourself. In the second task, you are given a topic and a
                one-minute preparation time and then have to deliver a talk
                about the topic for 1-2 minutes. Finally, in the last part, you
                have a two-way discussion with the interviewer about the issues
                related to a topic.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="other-classes-button col-md-2">
      <a href="#" class="pte-class">Enroll PTE</a><br />
      <a href="#" class="toefl-class">Enroll TOEFL</a>
    </div>
  </div>
</div>
<!-- <div class="other-classes-button">
    <a href="#" class="pte-class"> PTE</a>
    <a href="#" class="toefl-class"> TOEFL</a>
  </div> -->
<!-- </section> -->
