<main class="wrapper">
  <section class="hero">
    <div class="hero-text">
      <h2>We are KTM Consulting Group</h2>
    </div>
  </section>
</main>
<div class="container" data-aos="fade-up">
  <div class="row mt-4">
    <div class="about-us-text py-4 col-md-7">
      <h4>Guiding your every step in International Education
        <hr class="about-us-one">
      </h4>
      <p class="about-us-description">
        <b>KTM Consulting Pvt. Ltd. is an education and migration service
          provider which was started by an Energetic and young team in 2012 with
          the sole purpose to give students the most exhaustive educational
          strategy services possible.</b>
      </p>
      <p class="about-us-description">
        Our Professional Service firm offers many different career paths to
        students in Japan and Australia. We have operating offices in different
        countries; Nepal, Australia & Japan. In Nepal, we have our registered
        office in Dillibazzar, Kathmandu-32, and Ward No. 01 whereas other
        branches are in Hetauda, Pokhara, Chitwan, and Banepa. In Australia, we
        have our registered office in Sydney, Haymarket, Central NSW 2000 based
        in suite 146, Level 4, 416-418 Pitt Street.
      </p>
      <p class="about-us-description">
        Always striving to serve the best to the students, we furnish them by
        providing a pathway to quality education and career guidelines with the
        best counseling, test preparations, and required training skills for the
        ardent students to study abroad.
      </p>
    </div>
    <div class="about-us-img py-4 col-md-5">
      <img class="img-thumbnail rounded" src="../../../../assets/img/about-us-bg.jpg" />
    </div>
  </div>
  <div class="row about-us-text company-profile-text my-3">
    <h4>Company Profile
      <hr class="about-us-two">
    </h4>
    <p class="about-us-description">
      KTM Consulting Group is led by a young, energetic and enthusiastic team
      guided by professionals advancing with a guiding principle
      <b>"To change the way people look at abroad study by providing the best
        educational strategy services possible for abroad study</b>”. KTM consulting group strives to meet the gap
      between demand and supply
      of Human Resources in our country thereby, promoting human resource
      development”.
    </p>
    <p class="about-us-description">
      The fundamental area of proficiency is that KTM Consulting ensures quality
      education services for abroad studies. Our highly experienced and
      registered educational counselors guide students as per their needs. Our
      commitment is to find the best educational institution and course for each
      individual student.
    </p>
    <p class="about-us-description">
      We waste no time in ensuring sound advice to students throughout their
      educational journey – from the first visit to their arrival, and finally
      their settlement in Australia. Our office in Kathmandu, Nepal is one of
      the famous consultancies for Australia, Canada, UK and USA. Since the
      establishment of KTM Consulting Group, we have assisted hundreds of
      students to abroad universities and educational institutes.
    </p>
    <p class="about-us-description">
      In addition, we have various social media platforms to assist
      internationally transitioned students adapt to their new environments – in
      particular, “AUSTRALIAMA KAAM”, a Facebook platform with the primary
      objective of giving support and guidance to students. Benefits include
      jobs and accommodation listings and social group events. Our company
      spends a great deal of time listening to student opinions and feedback,
      and we strive to create a better service continually through adapting.
    </p>
    <p class="about-us-description">
      We, KTM Consulting Group have set the vision to increase an individual’s
      Education which is a powerful tool for the growth and development of
      positive changes, improving livelihood leading to social stability and
      economic growth that in turn implements growth in a country’s GDP.
    </p>
  </div>
</div>