<div class="testimonial-section py-5">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="section-title">
        <h2>Testimonial</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in
          iste officiis commodi quidem hic quas.</p>
      </div>

      <owl-carousel-o [options]="serviceOptions">
        <ng-template carouselSlide *ngFor="let testimonialData of testimonialSlider">
          <div class="col-md-11" data-aos="fade-up">
            <div class="card h-100 p-3">
              <img src="{{ testimonialData.image}}" alt="">
              <div class="member-info text-center my-3">
                <h5>{{ testimonialData.title }}</h5>
                <span></span>
                <p class="text-justify"> {{ testimonialData.content}}</p>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>