<main class="wrapper">
  <section class="hero">
    <div class="hero-text">
      <h2>General Application Process</h2>
    </div>
  </section>
</main>

<div class="container" data-aos="fade-up">
  <div class="row mt-4">
    <div class="about-us-text py-4 col-md-7">
      <h4>Counseling and Guidance Sessions
        <hr class="about-us-two">
      </h4>
      <p class="about-us-description">
        In the counseling sessions, students will be informed about the programs most appropriate to their needs. A
        counseling session will help you understand what and where you would like to study while acknowledging previous
        education, interests, career outcomes, and budgets. Students will be informed on the necessary documents like
        academics, Language proficiency tests, translations & verification of documentation.
      </p>
      <p class="about-us-description">
        Plan out the cost. Students will be informed well on the cost of education and additional costs necessary like
        living, travel, and stationary expenses while studying abroad. You can carefully study your estimated cost to
        study abroad.
      </p>
    </div>
    <div class="about-us-img py-4 col-md-5">
      <img class="img-thumbnail rounded" src="../../../../assets/img/consultingGuidenceKTM.jpg" />
    </div>


    <!-- <div class="about-us-img py-4 col-md-5">
      <img class="img-thumbnail rounded" src="../../../../assets/img/photo-classroom1-kTM.jpg" />
    </div> -->

    <div id="application-process" class="col-md-12 py-3">
      <div class="application-process-one py-3">
        <h4 class="fw-bold">Test preparation class </h4>
        <p class="text-justify" style="font-size: 15px">
          If you do not have the English language proficiency requirements such as IELTS, TOEFL, or PTE we
          will
          provide you with the best preparation classes. Once you sign up for our class, we will register
          and
          book the test dates for you as well.
        </p>
      </div>

      <div class="application-process-one  py-3">
        <h4 class="fw-bold">Application </h4>
        <p class="text-justify" style="font-size: 15px">
          Application Deadlines, documents, Academic test scores requirements, and Language proficiency test
          scores, vary according to the course, education provider, and country you are applying to. We will
          send your application to the educational provider of your choice once you submit the necessary
          documents. <br>
          When the college finds you an eligible applicant, they will provide an offer explaining the
          details
          and description of the course; course fee; orientation date; course commencement date & course
          completion date; campus location; total tuition fee; and initial tuition fee required for payment
          in
          advance.
        </p>
      </div>

      <div class="application-process-one  py-3">
        <h4 class="fw-bold">Enrollment </h4>
        <p class="text-justify" style="font-size: 15px">
          You are qualified for enrollment after you receive the offer letter. Providing financial proof is
          the
          major part of enrollment. You will be informed of all the documents and evidence necessary for the
          Financial Part to show and verify your education funds. You will provide the financial documents
          and
          pay the required initial fee to the college.
        </p>
      </div>

      <div class="application-process-one  py-3">
        <h4 class="fw-bold">Confirmation of Enrollment </h4>
        <p class="text-justify" style="font-size: 15px">
          You will receive confirmation of enrollment when the education provider accepts your financial
          documents and receives your fee payment.
        </p>
      </div>

      <div class="application-process-one  py-3">
        <h4 class="fw-bold">Medical Test Report & Health Insurance </h4>
        <p class="text-justify" style="font-size: 15px">
          Another compulsory requirement is to provide a medical report of physical examination and Health
          insurance. A medical report is a basic requirement for which we will assist you with information
          on
          cost, booking the medical test date, and submitting the report. <br>
          Health insurance coverage helps students cover the cost of medical treatment, doctor’s visits,
          prescriptions, and other health-related expenses while studying abroad. Health insurance coverage
          also
          differs in cost and coverage depending on the country you are applying to. (*note-Depending on the
          country and education provider, you might have to get the Health insurance upfront while applying
          for
          enrollment)
        </p>
      </div>

      <div class="application-process-one  py-3">
        <h4 class="fw-bold">Visa Requirement & Visa lodgment </h4>
        <p class="text-justify" style="font-size: 15px">
          You will be informed of additional documents if necessary. Once you provide complete documents,
          all
          verified documents will be processed for your visa application. The processing time of the
          application
          can vary and is not constant.
        </p>
      </div>

      <div class="application-process-one  py-3">
        <h4 class="fw-bold">Visa Grant </h4>
        <p class="text-justify" style="font-size: 15px">
          Once the visa officer approves your eligibility, you will receive a “visa grant”. The validity of
          the
          visa depends on the course duration. You will be informed of the details of the length of stay
          duration by the letter.
        </p>
      </div>

      <div class="application-process-one  py-3">
        <h4 class="fw-bold">Accommodation & Travel Arrangements and Pre-Departure Briefing </h4>
        <p class="text-justify" style="font-size: 15px">
          After you receive a visa grant letter, our counselors will help you choose and book the best
          accommodation on campus, homestay, or private rental if you haven’t already decided on your
          accommodation. We will also assist help you with booking flight tickets and currency exchange.
        </p>
      </div>

      <div class="application-process-one  py-3">
        <h4 class="fw-bold">Pre-Departure Information </h4>
        <p class="text-justify" style="font-size: 15px">
          KTM Consulting provides a pre-departure briefing class to build your confidence after landing in a
          foreign land. We will prepare and inform you of all the necessary documents and belongings you
          take
          with you. You will learn about students’ lifestyles abroad, local culture, places and attractions
          near
          your campus, banking and foreign exchange, and advice on work and internships. The Pre-Departure
          Briefing class will allow you to meet other applicants who might be attending your education
          provider.
        </p>
      </div>
    </div>
  </div>
</div>