<main class="wrapper">
  <section class="hero">
    <h1>General Application Process?</h1>
    <!-- <article>
      <p>
        KTM Consulting Group is a leading institute for IELTS training courses
        in Nepal. Our aim is to prepare students with essential skills and
        knowledge to undertake the IELTS test. The syllabus of our IELTS course
        in Nepal is a blend of skills development, strategies, and techniques
        that help you enhance your test-taking ability and succeed in the IELTS
        examination.
      </p>
      <a href="#">Enroll Now</a>
    </article> -->
  </section>
</main>
<div class="container">
  <h3 class="py-5 text-uppercase text-center fw-semibold">What should be done for the application?
    <hr>
  </h3>

  <div class="row">
    <div class="counseling-text col-md-6 mt-4">
      <h4>Counseling and Guidance Sessions</h4>
      <h6 class="text-justify">
        In the counseling sessions, students will be informed about the programs
        most appropriate to their needs. A counseling session will help you
        understand what and where you would like to study while acknowledging
        previous education, interests, career outcomes, and budgets. Students
        will be informed on the necessary documents like academics, Language
        proficiency tests, translations & verification of documentation.
      </h6>
      <p>
        Plan out the cost. Students will be informed well on the cost of
        education and additional costs necessary like living, travel, and
        stationary expenses while studying abroad. You can carefully study your
        estimated cost to study abroad.
      </p>
    </div>
    <div class="counseling-image col-md-6">
      <img src="../../../../assets/img/consultingGuidenceKTM.jpg" />
    </div>
  </div>
  <div class="row">
    <div class="classroom-image col-md-4">
      <img src="../../../../assets/img/photo-classroom1-kTM.jpg" />
      <img src="../../../../assets/img/photo-visa-approved.jpg" />
      <!-- <img src="../../../../assets/img/photo-plane-flight.webp" /> -->
    </div>
    <div class="classroom-text col-md-8 mt-4">
      <h4><span>-----</span>Test preparation class</h4>
      <p>
        If you do not have the English language proficiency requirements such as
        IELTS, TOEFL, or PTE we will provide you with the best preparation
        classes. Once you sign up for our class, we will register and book the
        test dates for you as well.
      </p>
      <h4><span>-----</span>Application</h4>
      <p>
        Application Deadlines, documents, Academic test scores requirements, and
        Language proficiency test scores, vary according to the course,
        education provider, and country you are applying to. We will send your
        application to the educational provider of your choice once you submit
        the necessary documents.
      </p>
      <p>
        When the college finds you an eligible applicant, they will provide an
        offer explaining the details and description of the course; course fee;
        orientation date; course commencement date & course completion date;
        campus location; total tuition fee; and initial tuition fee required for
        payment in advance.
      </p>
      <h4><span>-----</span>Enrollment</h4>
      <p>
        You are qualified for enrollment after you receive the offer letter.
        Providing financial proof is the major part of enrollment. You will be
        informed of all the documents and evidence necessary for the Financial
        Part to show and verify your education funds. You will provide the
        financial documents and pay the required initial fee to the college.
      </p>
      <h4><span>-----</span>Confirmation of enrollment</h4>
      <p>
        You will receive confirmation of enrollment when the education provider
        accepts your financial documents and receives your fee payment.
      </p>
      <h4><span>-----</span>Medical Test Report & Health Insurance</h4>
      <p>
        Another compulsory requirement is to provide a medical report of
        physical examination and Health insurance. A medical report is a basic
        requirement for which we will assist you with information on cost,
        booking the medical test date, and submitting the report.
        <br />
        Health insurance coverage helps students cover the cost of medical
        treatment, doctor’s visits, prescriptions, and other health-related
        expenses while studying abroad. Health insurance coverage also differs
        in cost and coverage depending on the country you are applying to.
        (*note-Depending on the country and education provider, you might have
        to get the Health insurance upfront while applying for enrollment)
      </p>
      <h4><span>-----</span>Visa Requirement & Visa lodgment</h4>
      <p>
        You will be informed of additional documents if necessary. Once you
        provide complete documents, all verified documents will be processed for
        your visa application. The processing time of the application can vary
        and is not constant.
      </p>
      <h4><span>-----</span>Visa Grant</h4>
      <p>
        Once the visa officer approves your eligibility, you will receive a
        “visa grant”. The validity of the visa depends on the course duration.
        You will be informed of the details of the length of stay duration by
        the letter.
      </p>
      <!-- <h4>
        <span>-----</span>Accommodation & Travel Arrangements and Pre-Departure
        Briefing
      </h4>
      <p>
        After you receive a visa grant letter, our counselors will help you
        choose and book the best accommodation on campus, homestay, or private
        rental if you haven’t already decided on your accommodation. We will
        also assist help you with booking flight tickets and currency exchange.
      </p>
      <h4><span>-----</span>Pre-Departure Information</h4>
      <p>
        KTM Consulting provides a pre-departure briefing class to build your
        confidence after landing in a foreign land. We will prepare and inform
        you of all the necessary documents and belongings you take with you. You
        will learn about students’ lifestyles abroad, local culture, places and
        attractions near your campus, banking and foreign exchange, and advice
        on work and internships. The Pre-Departure Briefing class will allow you
        to meet other applicants who might be attending your education provider.
      </p> -->
    </div>
  </div>
  <div class="row">
    <div class="travel-text col-md-8 mt-4">
      <h4>
        <span>-----</span>Accommodation & Travel Arrangements and Pre-Departure
        Briefing
      </h4>
      <p>
        After you receive a visa grant letter, our counselors will help you
        choose and book the best accommodation on campus, homestay, or private
        rental if you haven’t already decided on your accommodation. We will
        also assist help you with booking flight tickets and currency exchange.
      </p>
      <h4><span>-----</span>Pre-Departure Information</h4>
      <p>
        KTM Consulting provides a pre-departure briefing class to build your
        confidence after landing in a foreign land. We will prepare and inform
        you of all the necessary documents and belongings you take with you. You
        will learn about students’ lifestyles abroad, local culture, places and
        attractions near your campus, banking and foreign exchange, and advice
        on work and internships. The Pre-Departure Briefing class will allow you
        to meet other applicants who might be attending your education provider.
      </p>
    </div>
    <div class="travel-image col-md-4">
      <img src="../../../../assets/img/photo-plane-flight.jpg" />
    </div>

    <!-- <div class="col-md-4"></div> -->
  </div>
</div>