<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Services</h2>
      <p>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
        aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
        quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
        sit in iste officiis commodi quidem hic quas.
      </p>
    </div>

    <div class="row">
      <div
        class="col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="icon-box">
          <i class="bi bi-card-checklist"></i>
          <h4><a href="#">Abroad Studies</a></h4>
          <p>
            we have been working as a bridge to connect the students of Nepal
            with education providers across the globe to deliver quality
            educational services to these graduate
          </p>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="icon-box">
          <i class="bi bi-bar-chart"></i>
          <h4><a href="#">Test Preparation</a></h4>
          <p>
            To make the students capable of the requisite, we offer
            classroom-based training for IELTS, TOEFL, PTE, SAT, GRE, and GMAT.
            We provide comprehensive and result-oriented coaching with
            personalized attention and flexibility of timings.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="icon-box">
          <i class="bi bi-binoculars"></i>
          <h4><a href="#">Library services</a></h4>
          <p>
            eaflets, brochures, handbooks & other publications from universities
            / colleges from different countries are available to help students
            navigate their study abroad choices.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="icon-box">
          <i class="bi bi-brightness-high"></i>
          <h4><a href="#">Scholarship assessment guidance</a></h4>
          <p>
            For students with excellent academic records and high English
            proficiency test scores, we guide them on scholarships provided by
            different education providers and what they are eligible.
          </p>
        </div>
      </div>
      <!-- <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="500">
        <div class="icon-box">
          <i class="bi bi-calendar4-week"></i>
          <h4><a href="#">University / college presentations</a></h4>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="600">
        <div class="icon-box">
          <i class="bi bi-briefcase"></i>
          <h4><a href="#">Monthly readable newsletter</a></h4>
          <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div>
      </div> -->
    </div>
  </div>
</section>
