<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <!-- <h1 class="logo"><a href="index.html">Anyar</a></h1> -->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="index.html" class="logo"><img src="../../../assets/img/ktm-consulting-group-logo-image.png" alt=""
        class="img-fluid" /></a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <!-- <li><a class="nav-link scrollto" href="#about">About</a></li> -->
        <li><a class="nav-link scrollto" href="#services">Services</a></li>
        <li class="dropdown">
          <!-- <a href="#preparationClasses">Preparation Classes</a> -->
          <a href="#">About <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li routerLinkActive="myActiveClass" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/about-ktm-consulting-group">
                <i class="fa fa-bed" aria-hidden="true"></i>
                About KTM Consulting Group
              </a>
            </li>
            <li routerLinkActive="myActiveClass" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/about-application-process">
                About Application Process
              </a>
            </li>
            <li routerLinkActive="myActiveClass" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/about-our-team"> Our Team </a>
            </li>
            <li routerLinkActive="myActiveClass" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/about-our-branches"> Our Branches</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <!-- <a href="#preparationClasses">Preparation Classes</a> -->
          <a href="#preparationClasses"><span>Preparation Classes</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li routerLinkActive="myActiveClass" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/ielts">
                <!-- <i class="fa fa-bed" aria-hidden="true"></i> -->
                IELTS
              </a>
            </li>
            <li routerLinkActive="myActiveClass" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/pte"> PTE </a>
            </li>
            <li routerLinkActive="myActiveClass" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/toefl"> TOEFL </a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"><span>Study Abroad</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li routerLinkActive="myActiveClass" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/australia">
                Study in Australia
              </a>
            </li>
            <li routerLinkActive="myActiveClass" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/canada"> Study in Canada </a>
            </li>
            <li routerLinkActive="myActiveClass" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/usa"> Study in USA </a>
            </li>
            <li routerLinkActive="myActiveClass" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/uk"> Study in UK </a>
            </li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>