<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <a routerLink="/" class="logo"><img src="../../../assets/img/ktm-consulting-group-logo-image.png" alt=""
        class="img-fluid" /></a>

    <nav id="navbar" class="navbar">
      <ul>
        <li class="nav-item" routerLinkActive="myActiveClass active" [routerLinkActiveOptions]="{exact: true}"><a
            class="nav-link" routerLink="/">Home</a></li>
        <!-- <li class="nav-item" routerLinkActive="myActiveClass active" [routerLinkActiveOptions]="{exact: true}"><a
            class="nav-link" routerLink="/">Services</a></li> -->
        <li class="dropdown nav-item">
          <a>About <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about-ktm-consulting-group" routerLinkActive="myActiveClass active">
                About KTM Consulting Group
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about-application-process" routerLinkActive="myActiveClass active">
                About Application Process
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about-our-team" routerLinkActive="myActiveClass active"> Our Team </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about-our-branches" routerLinkActive="myActiveClass active"> Our
                Branches</a>
            </li>
          </ul>
        </li>
        <li class="dropdown nav-item">
          <a><span>Preparation Classes</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li class="nav-item">
              <a class="nav-link" routerLink="/ielts" routerLinkActive="myActiveClass active">
                IELTS
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/pte" routerLinkActive="myActiveClass active"> PTE </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/toefl" routerLinkActive="myActiveClass active"> TOEFL </a>
            </li>
          </ul>
        </li>
        <li class="dropdown nav-item">
          <a><span>Study Abroad</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li class="nav-item">
              <a class="nav-link" routerLink="/australia" routerLinkActive="myActiveClass active">
                Study in Australia
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/canada" routerLinkActive="myActiveClass active"> Study in Canada </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/usa" routerLinkActive="myActiveClass active"> Study in USA </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/uk" routerLinkActive="myActiveClass active"> Study in UK </a>
            </li>
          </ul>
        </li>

        <li class="nav-item" routerLinkActive="myActiveClass active" [routerLinkActiveOptions]="{exact: true}"><a
            class="nav-link" routerLink="contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>