<main class="wrapper">
  <section class="hero">
    <h1>OUR TEAM</h1>
  </section>
</main>
<div class="container">
  <h5 class="text-center mt-3">
    We are a team of professionals who have gone through the same process and
    understand the struggle of studying abroad. Our team in Nepal and Australia
    is made up of international graduates, entrepreneurs, and specialists in
    different fields ranging from IT to Management Professionals, all of who had
    been through the different stages of studying abroad. We are dedicated and
    always ready to provide students with proper guidance for their overseas
    education.
  </h5>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img
            src="../../../../assets/img/team/team-1.jpg"
            alt="team member"
            class="img-responsive"
          />
        </div>
        <div class="content">
          <h3 class="title">Walter White</h3>
          <span class="post">Chief Executive Officer</span>
          <ul class="social">
            <li>
              <a href=""><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-instagram-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img
            src="../../../../assets/img/team/team-2.jpg"
            alt="team member"
            class="img-responsive"
          />
        </div>
        <div class="content">
          <h3 class="title">Sarah Jhonson</h3>
          <span class="post">Product Manager</span>
          <ul class="social">
            <li>
              <a href=""><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-instagram-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img
            src="../../../../assets/img/team/team-3.jpg"
            alt="team member"
            class="img-responsive"
          />
        </div>
        <div class="content">
          <h3 class="title">William Anderson</h3>
          <span class="post">CTO</span>
          <ul class="social">
            <li>
              <a href=""><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-instagram-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img
            src="../../../../assets/img/team/team-4.jpg"
            alt="team member"
            class="img-responsive"
          />
        </div>
        <div class="content">
          <h3 class="title">Amanda Jepson</h3>
          <span class="post">Accountant</span>
          <ul class="social">
            <li>
              <a href=""><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-instagram-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img
            src="../../../../assets/img/team/team-1.jpg"
            alt="team member"
            class="img-responsive"
          />
        </div>
        <div class="content">
          <h3 class="title">Walter White</h3>
          <span class="post">Chief Executive Officer</span>
          <ul class="social">
            <li>
              <a href=""><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-instagram-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img
            src="../../../../assets/img/team/team-2.jpg"
            alt="team member"
            class="img-responsive"
          />
        </div>
        <div class="content">
          <h3 class="title">Sarah Jhonson</h3>
          <span class="post">Product Manager</span>
          <ul class="social">
            <li>
              <a href=""><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-instagram-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-2">
  <h3 class="text-center">Managers of Other Branches</h3>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img
            src="../../../../assets/img/team/team-1.jpg"
            alt="team member"
            class="img-responsive"
          />
        </div>
        <div class="content">
          <h3 class="title">Walter White</h3>
          <span class="post">Branach Manager(Pokhara)</span>
          <ul class="social">
            <li>
              <a href=""><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-instagram-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img
            src="../../../../assets/img/team/team-2.jpg"
            alt="team member"
            class="img-responsive"
          />
        </div>
        <div class="content">
          <h3 class="title">Sarah Jhonson</h3>
          <span class="post">Branach Manager(Kathmandu)</span>
          <ul class="social">
            <li>
              <a href=""><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-instagram-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img
            src="../../../../assets/img/team/team-3.jpg"
            alt="team member"
            class="img-responsive"
          />
        </div>
        <div class="content">
          <h3 class="title">William Anderson</h3>
          <span class="post">Branach Manager(Chitwan)</span>
          <ul class="social">
            <li>
              <a href=""><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-instagram-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3"></div>
    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img
            src="../../../../assets/img/team/team-2.jpg"
            alt="team member"
            class="img-responsive"
          />
        </div>
        <div class="content">
          <h3 class="title">Sarah Jhonson</h3>
          <span class="post">Branach Manager(Kathmandu)</span>
          <ul class="social">
            <li>
              <a href=""><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-instagram-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img
            src="../../../../assets/img/team/team-2.jpg"
            alt="team member"
            class="img-responsive"
          />
        </div>
        <div class="content">
          <h3 class="title">Sarah Jhonson</h3>
          <span class="post">Branach Manager(Kathmandu)</span>
          <ul class="social">
            <li>
              <a href=""><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-instagram-fill"></i></a>
            </li>
            <li>
              <a href=""><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3"></div>
  </div>
</div>
