<section id="icon-boxes" class="icon-boxes">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-edit-alt"></i></div>
          <h4 class="title"><a routerLink="ielts">IELTS</a></h4>
          <p class="description">
            Established in 1989, IELTS (International English Language Testing
            System) is the most popular English-language assessment test for
            higher education and global migration.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a routerLink="pte">PTE</a></h4>
          <p class="description">
            PTE (Pearson Test of English) is a computer-based English language
            proficiency test specially designed for non-native English speakers
            to work, migrate or study abroad.
          </p>
        </div>
      </div>

      <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a routerLink="">SAT</a></h4>
          <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </div> -->

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4 class="title"><a routerLink="toefl">TOEFL</a></h4>
          <p class="description">
            TOEFL (Test of English as a Foreign Language) is a standardized
            English language proficiency test to examine the English language
            ability of international students.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>