<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About Us</h2>
      <p>
        KTM Consulting Pvt. Ltd. is an education and migration service provider
        which was started by an Energetic and young team in 2012 with the sole
        purpose to give students the most exhaustive educational strategy
        services possible.
      </p>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          Our main objective is to maintain students’ satisfaction by delivering
          a quality education service and effective guidelines whereas other
          services include:
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i>Provide a quick response to
            students' inquiries and required services that assure students'
            satisfaction
          </li>
          <li>
            <i class="ri-check-double-line"></i>Place the student in the best
            universities and education providers best suited to their needs and
            interest
          </li>
          <li>
            <i class="ri-check-double-line"></i>Empower students to take control
            of their further study while ensuring proper guidance leading to a
            fruitful future career path
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          KTM Consulting Group is led by a young, energetic and enthusiastic
          team guided by professionals advancing with a guiding principle “To
          change the way people look at abroad study by providing the best
          educational strategy services possible for abroad study”.
        </p>
        <a href="/about-ktm-consulting-group" class="btn-learn-more"
          >Learn More</a
        >
      </div>
    </div>
  </div>
</section>
