<main class="wrapper">
  <section class="hero">
    <div class="hero-text text-center">
      <h2>Study TOEFL</h2>
      <a class="btn btn-primary">Enroll Now</a>
    </div>
  </section>
</main>
<div class="container" data-aos="fade-up">
  <div class="row">
    <div class="section-title py-5">
      <h2>About TOEFL
        <hr class="our-client">
      </h2>
      <p>
        KTM Consulting Pvt. Ltd. is an education and migration service provider
        which was started by an Energetic and young team in 2012 with the sole
        purpose to give students the most exhaustive educational strategy
        services possible.
      </p>
    </div>
    <div class="about-toefl-text col-md-6">
      <p class="text-justify" style="font-size:15px">
        TOEFL (Test of English as a Foreign Language) is a standardized English
        language proficiency test to examine the English language ability of
        international students who wish to enroll in universities in
        English-speaking countries. It is one of the major English language
        tests that non-native speakers take to study abroad.
      </p>
      <p class="text-justify" style="font-size:15px">
        More than 11,000 universities and institutions in over 190 countries
        accept TOEFL. TOEFL is a requirement for university admissions in
        English-speaking countries including Australia, the United States, the
        United Kingdom, and Canada. The TOFEL score requirements differ between
        universities and study programs.
      </p>
      <p class="text-justify" style="font-size:15px">
        TOEFL is basically a litmus test that determines if one has enough
        English skills needed in an academic classroom. TOEFL is composed of
        100% academic questions and tasks which is the major reason why
        universities and colleges worldwide it to be one of the best English
        language proficiency tests to make decisions on admissions.
      </p>
      <p class="text-justify" style="font-size:15px">
        One of the most well-liked courses among students at KTM Consulting
        Group is the TOEFL preparation course. We provide new sessions every
        week with rotational modules for courses.
      </p>
    </div>
    <div class="about-toefl-img col-md-6">
      <img class="img-thumbnail rounded" src="../../../../assets/img/portfolio/portfolio-3.jpg" alt="toefl image" />
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="row">
    <div class="col-md-4">
      <div class="ielts-pte-discount row">
        <img class="img-thumbnail rounded" src="../../../../assets/img/ktmDiscountCard.jpg" alt="ielts image" />
      </div>
      <div class="consult-card row mt-3">
        <img class="img-thumbnail rounded" src="../../../../assets/img/ktmConsultCard.jpg" alt="consult image" />
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="card card1 mb-2">
          <h3 class="mb-2 fw-bold">Who is it for?</h3>
          <li>Students planning to study at a higher education institution</li>
          <li>English-language learning program admissions and exit</li>
          <li>Scholarship and certification candidates</li>
          <li>English-language learners who want to track their progress</li>
          <li>Students and workers applying for visas</li>
        </div>
      </div>
      <!-- <h3 class="text-center fw-bold">Types of PTE Tests</h3> -->
      <div class="ibt-text row">
        <h3 class="fw-bold mt-3">Internet-based Test (TOEFL iBT)</h3>
        <p class="text-justify" style="font-size:15px">
          The TOEFL iBT test is the most preferred TOEFL test among non-native
          English speakers, with more than 90% of students participating in the
          test in the internet-based format. The TOEFL-iBT test comprises 4
          sections: Speaking, Listening, Writing and Reading. Students take up
          TOEFL iBT on a computer equipped with a microphone and camera – for
          all four sections. The TOEFL iBT test pattern doesn’t have a separate
          section for grammar knowledge examination, the writing section is
          monitored in detail.

          <li>
            Reading section lasts between 60-100 minutes and involves reading
            3-5 passages, each approximately 700 words in length, containing 12
            to 14 questions in each.
          </li>
          <li>
            Listening section lasts between 60-90 minutes and involves 2 to 3
            conversations with 5 questions each, and 3 to 4 lectures with 6
            questions each. Each conversation and lectures are 2.5–3 minutes and
            4.5-5.5 minutes in length respectively.
          </li>
          <li>
            Speaking section lasts 20 minutes and involves 4 spoken tasks 1
            independent (Task 1) and 3 integrated (Task 2, 3, 4).
          </li>
          <li>
            Writing section lasts 50 minutes and involves 2 tasks to complete.
          </li>
        </p>
      </div>
      <div class="row pbt-text mt-3">
        <h3 class=" fw-bold">Paper-based Test (TOEFL PBT)</h3>
        <p class="text-justify" style="font-size:15px">
          The TOEFL PBT is a paper-based TOEFL test for students who are not in
          proximity to internet-based test centres. It consists of the Reading,
          Writing and Listening sections, with scores that are on the same scale
          as the TOEFL iBT. The Listening section in this test has recordings
          that are shorter than in the TOEFL iBT. Unlike TOEFL iBT, the TOEFL
          PBT test contains a separate essay section i.e. Structure and Written
          Expression section.

          <li>
            Listening section lasts between 30-40 minutes and consists of 3
            parts. The first part contains 30 questions about short
            conversations, the second part contains 8 questions about longer
            conversations, and in the last part, candidates are asked 12
            questions about lectures or talks.
          </li>
          <li>
            Structure and Written Expression section lasts 25 minutes and
            includes 15 exercises of completing sentences correctly and 25
            examples for error identification.
          </li>
          <li>
            Reading section lasts 50 minutes and includes answering 50 questions
            about passages.
          </li>
          <li>
            Writing section lasts 30 minutes and involves one written essay
            containing around 250-300 words.
          </li>
        </p>
      </div>
    </div>
  </div>

</div>