<main class="wrapper">
  <section class="hero">
    <h1>Study TOEFL?</h1>
    <article>
      <p>
        KTM Consulting Group’s TOEFL course aims to give students the knowledge
        and techniques necessary to succeed on the test. You will practice both
        language and academic components necessary for the TOEFL iBT test, such
        as reading nonfiction educational literature, accurately listening,
        taking notes, composing passages & academic essays and giving brief
        presentations.
      </p>
      <a href="#">Enroll Now</a>
    </article>
  </section>
</main>
<div class="container">
  <div class="row">
    <h1 class="text-center mt-4 mb-2">About TOEFL</h1>
    <div class="about-toefl-text col-md-6">
      <p>
        TOEFL (Test of English as a Foreign Language) is a standardized English
        language proficiency test to examine the English language ability of
        international students who wish to enroll in universities in
        English-speaking countries. It is one of the major English language
        tests that non-native speakers take to study abroad.
      </p>
      <p>
        More than 11,000 universities and institutions in over 190 countries
        accept TOEFL. TOEFL is a requirement for university admissions in
        English-speaking countries including Australia, the United States, the
        United Kingdom, and Canada. The TOFEL score requirements differ between
        universities and study programs.
      </p>
      <p>
        TOEFL is basically a litmus test that determines if one has enough
        English skills needed in an academic classroom. TOEFL is composed of
        100% academic questions and tasks which is the major reason why
        universities and colleges worldwide it to be one of the best English
        language proficiency tests to make decisions on admissions.
      </p>
      <p>
        One of the most well-liked courses among students at KTM Consulting
        Group is the TOEFL preparation course. We provide new sessions every
        week with rotational modules for courses.
      </p>
    </div>
    <div class="about-toefl-img col-md-6">
      <img
        src="../../../../assets/img/portfolio/portfolio-3.jpg"
        alt="toefl image"
      />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="ielts-pte-discount row">
        <img
          src="../../../../assets/img/ktmDiscountCard.jpg"
          alt="ielts image"
        />
      </div>
      <div class="consult-card row mt-3">
        <img
          src="../../../../assets/img/ktmConsultCard.jpg"
          alt="consult image"
        />
      </div>
    </div>
    <div class="col-md-8 mt-5">
      <div class="row">
        <div class="card card1 mb-2">
          <h2 class="mb-2">Who is it for?</h2>
          <li>Students planning to study at a higher education institution</li>
          <li>English-language learning program admissions and exit</li>
          <li>Scholarship and certification candidates</li>
          <li>English-language learners who want to track their progress</li>
          <li>Students and workers applying for visas</li>
        </div>
        <!-- <div class="card card2 mb-2 mt-2">
          <h2 class="text-center mb-2">When we can take the test?</h2>
          <p class="text-center">
            PTE tests are conducted usually in 3 shift from Monday to Friday –
            Morning, Day and Evening hours. There are 2 test centres in
            Kathmandu. They are British Professional College & AlphaBeta
            Institute. Outside valley it is conducted in Chitwan Medical College
            (CMC).
          </p>
        </div> -->
      </div>
      <h2 class="text-center">Types of PTE Tests</h2>
      <div class="ibt-text row">
        <h3 class="text-center mt-3">Internet-based Test (TOEFL iBT)</h3>
        <p>
          The TOEFL iBT test is the most preferred TOEFL test among non-native
          English speakers, with more than 90% of students participating in the
          test in the internet-based format. The TOEFL-iBT test comprises 4
          sections: Speaking, Listening, Writing and Reading. Students take up
          TOEFL iBT on a computer equipped with a microphone and camera – for
          all four sections. The TOEFL iBT test pattern doesn’t have a separate
          section for grammar knowledge examination, the writing section is
          monitored in detail.

          <li>
            Reading section lasts between 60-100 minutes and involves reading
            3-5 passages, each approximately 700 words in length, containing 12
            to 14 questions in each.
          </li>
          <li>
            Listening section lasts between 60-90 minutes and involves 2 to 3
            conversations with 5 questions each, and 3 to 4 lectures with 6
            questions each. Each conversation and lectures are 2.5–3 minutes and
            4.5-5.5 minutes in length respectively.
          </li>
          <li>
            Speaking section lasts 20 minutes and involves 4 spoken tasks 1
            independent (Task 1) and 3 integrated (Task 2, 3, 4).
          </li>
          <li>
            Writing section lasts 50 minutes and involves 2 tasks to complete.
          </li>
        </p>
      </div>
      <div class="row pbt-text mt-3">
        <h3 class="text-center">Paper-based Test (TOEFL PBT)</h3>
        <p>
          The TOEFL PBT is a paper-based TOEFL test for students who are not in
          proximity to internet-based test centres. It consists of the Reading,
          Writing and Listening sections, with scores that are on the same scale
          as the TOEFL iBT. The Listening section in this test has recordings
          that are shorter than in the TOEFL iBT. Unlike TOEFL iBT, the TOEFL
          PBT test contains a separate essay section i.e. Structure and Written
          Expression section.

          <li>
            Listening section lasts between 30-40 minutes and consists of 3
            parts. The first part contains 30 questions about short
            conversations, the second part contains 8 questions about longer
            conversations, and in the last part, candidates are asked 12
            questions about lectures or talks.
          </li>
          <li>
            Structure and Written Expression section lasts 25 minutes and
            includes 15 exercises of completing sentences correctly and 25
            examples for error identification.
          </li>
          <li>
            Reading section lasts 50 minutes and includes answering 50 questions
            about passages.
          </li>
          <li>
            Writing section lasts 30 minutes and involves one written essay
            containing around 250-300 words.
          </li>
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="ptesections row mt-3">
    <h2 class="text-center">Four Sections of PTE</h2>
    <div class="consult-card col-md-4">
      <img
        src="../../../../assets/img/ktmConsultCard.jpg"
        alt="consult image"
      />
    </div>
    <div class="s-w-test col-md-8">
      <h3 class="text-center">Speaking and Writing Tests</h3>
      <p>
        Your speaking and writing test is taken in a single section to check
        your English speaking and writing skills The writing test is conducted
        first and then the speaking test. This section focuses on grammar and
        the time allocated for the speaking and writing test is for 54-67
        minutes. This section comprises six small sections and seven different
        question types. This task consists of:
        <li>Personal</li>
        <li>IntroductionRead aloud</li>
        <li>Repeat sentence</li>
        <li>Describe image</li>
        <li>Re-tell lecture</li>
        <li>Answer short question</li>
        <li>Summarize written text</li>
        <li>Essay</li>
      </p>
    </div>
  </div>
  <div class="r-l-test row">
    <div class="col-md-6 mt-5 pt-5">
      <h3 class="text-center">Reading Test</h3>
      <p class="text-center">
        Reading test in PTE exam is designed to evaluate the basis of their
        ability to understand the written instructions in English. Examinee are
        given 32 to 41 minutes of time for solving questions of reading test.
        Reading section contains five different question types which are:

        <li>Multiple Fill in the Blanks</li>
        <li>Multiple choice questions, multiple answers</li>
        <li>Re-order paragraphs</li>
        <li>Fill in the blanks</li>
        <li>Multiple choice questions, single answer</li>
      </p>
    </div>
    <div class="col-md-6">
      <h3 class="text-center">Listening Test</h3>
      <p class="text-center">
        The Listening test in the PTE exam is designed to determine one’s
        ability to understand spoken English. For this part of the test,
        candidates are allocated 30 to 43 minutes within which they have to
        carefully listen to the audio file played, retain what they heard and
        answer the questions accordingly. Each audio played usually are 60-90
        seconds long. The Listening test contain eight different question types
        which are:

        <li>Summarize spoken text</li>
        <li>Multiple choice questions, multiple answers</li>
        <li>Fill the blanks</li>
        <li>Highlight the correct summary</li>
        <li>Multiple choice questions, single answer</li>
        <li>Select missing word</li>
        <li>Highlight incorrect words</li>
        <li>Write from dictation</li>
      </p>
    </div>
  </div> -->
</div>
