/* Generic styles */
.wrapper {
  margin-top: 130px;
}

/* Styles for the hero image */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../../assets/img/hero-img/toefl-hero-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 12rem;
}

.hero-text {
  h2 {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-color);
    white-space: nowrap
  }
}

hr.our-client {
  border: 2px solid var(--danger-color);
  width: 20%;
  position: relative;
  top: -8px;
  opacity: 0.7;
  margin-left: auto;
  margin-right: auto
}

a.btn.btn-primary {
  background-color: var(--danger-color);
  border: none;
  font-size: 17px;
  font-weight: 600;
  border-radius: 7px;
  margin-top: 3rem;
}

a.btn.btn-primary:hover {
  background-color: var(--warning-color);
  color: var(--dark-color)
}


.about-toefl-text {
  p {
    font-size: 1rem;
    font-stretch: expanded;
  }
}

.about-toefl-img img {
  height: 11cm;
  width: -webkit-fill-available;
}

.ielts-pte-discount img {
  height: 17cm;
  width: -webkit-fill-available;
}

.consult-card img {
  height: 10cm;
  width: -webkit-fill-available;
}

.card {
  margin: 5px;
  border-block-width: 2px;

  h2,
  p {
    text-align: start;
    margin-left: 30%;
  }

  h2:hover {
    color: #f1a40a;
  }

  p:hover {
    font-weight: 500;
  }
}

.card1 {
  // border-block-end-color: #E41C48;
}

.card1:hover {
  // border-block-end-color: #f1a40a;
  border-block-width: 3px;
}

.ibt-text,
.pbt-text p {
  // text-align:center
}

img.img-thumbnail.rounded {
  border: 0px;
  border-radius: 12px !important;
}