/* Generic styles */
.wrapper {
  margin-top: 130px;
}

/* Styles for the hero image */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../../assets/img/hero-img/pte-hero-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 12rem;
}

.hero-text {
  h2 {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-color);
    white-space: nowrap
  }
}

hr.our-client {
  border: 2px solid var(--danger-color);
  width: 20%;
  position: relative;
  top: -8px;
  opacity: 0.7;
  margin-left: auto;
  margin-right: auto
}

a.btn.btn-primary {
  background-color: var(--danger-color);
  border: none;
  font-size: 17px;
  font-weight: 600;
  border-radius: 7px;
  margin-top: 3rem;
}

a.btn.btn-primary:hover {
  background-color: var(--warning-color);
  color: var(--dark-color)
}


.about-pte-text {
  p {
    font-size: 1rem;
    font-stretch: expanded;
  }
}

.about-pte-img img {
  height: 8cm;
  width: -webkit-fill-available;
}

.ielts-pte-discount-img img {
  height: 17cm;
  width: -webkit-fill-available;
}

.card {
  margin: 5px;
  border-block-width: 2px;

  h2:hover {
    color: #f1a40a;
    // font-weight: bold;
  }

  p:hover {
    // font-size: large;
    font-weight: 500;
  }
}

.card1 {
  // border-block-end-color: #E41C48;
}

.card2 {
  // border-block-color: #E41C48;
}

.card3 {
  // border-block-start-color: #E41C48;
}

.card1:hover {
  // border-block-end-color: #f1a40a;
  border-block-width: 3px;
}

.card2:hover {
  // border-block-color: #f1a40a;
  border-block-width: 3px;
}

.card3:hover {
  // border-block-start-color: #f1a40a;
  border-block-width: 3px;
}

// .card:hover{
//   border-block-color: #f1a40a;
//   border-block-width: 4px;
//   background-color: #f1a40a ,0.5;

// }

.consult-card img {
  height: 10cm;
  width: -webkit-fill-available;
  // position: absolute;
  border-radius: 50%;
}

.r-l-test p,
li {
  text-align: start !important;
}

img.img-thumbnail.rounded {
  border: 0px;
  border-radius: 12px !important;
}